/* FUENTE */
@font-face{
    font-family: "fajala";
    src: url(../fonts/fuente.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0px;
    padding: 0px;
    text_decoration: none;
}
.clearfix{
    clear: both;
    float: none;
}
body{ 
    background: url(../img/cubes.png) #F4F4F4;
}
#logo{
    float: left;
    width: 500px;
    height: 110px;
    font-family: fajala;
    font-size: 25px
}
#header{
    width: 85%;
    height: auto;
    background: transparent;
    margin: 0px auto;
    margin-top: 10px;
}

#logo a:hover{
    cursor: pointer;
    text-shadow: 0px 0px 0px black, 1px 1px 0px black, 2px 2px 0px black;
}
/*MENU*/
#menu{
    clear:both;
    width: 100%;
    height: 45px;
    background: linear-gradient(to bottom, #f9f9f9 0px, #e9e9e9 100%);
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    box-shadow: 0px 1px 1px #ccc;
    overflow: hidden;
}